<form [formGroup]='loginForm' (ngSubmit)='submit()' class='form'>

    <div class="form-group row">
        <label for="" class=" col-sm-2 col-form-label-sm">User Name</label>

        <div class="input-wrapper">
            <input type="text" formControlName='userName' class='col-sm-10'>
            <label for="userName" class="fa fa-user input-icon"></label>
        </div>

    </div>


    <div class="form-group row">
        <label for="" class=" col-sm-2 col-form-label-sm">Pass Word</label>
        <div class="input-wrapper">
            <input type="passWord" formControlName='passWord' class='col-sm-10'>
            <label for="passWord" class="fa fa-key input-icon"></label>

        </div>
    </div>

    <div class="form-group row">
        <input type="submit" value="Login" class='btn btn-dark'>
    </div>
</form>

<!-- {{loginForm.value | json}} -->