<table class="table table-striped">
    <tr *ngFor='let eachTrip of weekEndTripList'>
        <td>{{eachTrip.src}}</td>
        <td>{{eachTrip.destination}}</td>
        <td>{{eachTrip.fare}}</td>
        <td><button (click)='show(eachTrip.destination)' class='btn btn-info'>Show PickUp Points</button></td>
    </tr>
</table>
<ol>
    <li *ngFor='let eachItem of pickUpPoints'>{{eachItem}}</li>
</ol>


<div class='form-group form-inline'>
    <label class='label-info'>Dinner Order - Qty</label>

    <input type='number' name='qty' [(ngModel)]='qty' class="form-control" max='10' min='1'>
    <app-process-order [reqQty]='qty' (replyEvent)='onChange($event)'></app-process-order>
    <span [ngStyle]="{'margin-left' : '15px'} ">{{response}}</span>
</div>