<app-header></app-header>
<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
    <ul class='navbar-nav'>
        <li class='nav-item'>
            <a [routerLink]="['/holidays']" class="nav-link text-light">Packages</a>
        </li>
        <li class='nav-item'>
            <a [routerLink]="['/agent']" class="nav-link">Agent</a>
        </li>
        <li class='nav-item'>
            <a [routerLink]="['/packages']" class="nav-link">Stay</a>
        </li>
        <li class='nav-item'>
            <a [routerLink]="['/packages']" class="nav-link">Destinations</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>